@font-face {
    font-family: 'NorseBold';
    src: url(fonts/Norse-Bold.otf)
}

body{
    display: flex;
    height: 100vh;
}
.left-section{
    background-image: url(images/pexels-oliver-sjöström-931007.jpg);
    background-size: cover;
    flex: 2;
}
.right-section{
    flex: 5;
}

.logo{
    background: rgba(0,0,0,.35);
    height: 150px;
    margin-top: 25vh;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'NorseBold', 'Times New Roman', Times, serif;
    font-size: 80px;
}
.logo img{
    height: 80%;
    object-fit: contain;
}
